@model ProjetoLoja2dsa.Models.Usuario;

@{
	ViewData["Title"] = "Cadastro";
}

<form asp-action="Cadastro" method="post">
    <h1>Cadastro</h1>
    <div>
        <label>Email:</label>
        <input type="email" name="email" required />
    </div>
    <div>
        <label>Senha:</label>
        <input type="password" name="senha" required />
    </div>
	<button type ="submit"> Cadastrar </button>
</form>
